html, body {
    height: 100%;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
img {
    max-width: 100%;
}
.wrapper {
    min-width: 360px;
    max-width: 992px;
    margin: 0px auto;
    /* height: 600px; */
    border: 1px solid red;
    /* background-image: url(../../анкета\ smm.png); */
}
.bg_main {
    background-color: #8edde4;
}
.bg_secong {
    background-color: #fff3cb;
}
.w_30 {
    width: 30%;
}
.w_70 {
    width: 70%;
}
.text_center {
    text-align: center;
}
.wrapper header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.header-left {
    position: relative;
    display: flex;
    justify-content: center;
}
.header-logo {
    width: 80%;
    border-radius: 50%;
    border: 3px solid #fff3cb;
    position: absolute;
}
.header-logo img {
    border-radius: 50%;
}
.header-right {
    text-align: center;
}
.header-right h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 36px 0px;
}
.header-right p{
    font-size: 28px;
    font-weight: 600;
    padding: 12px 0px;
}
.wrapper main {
    display: flex;
    justify-content: space-between;
}
.left_aside {
    width: 30%;
}
.right_aside {
    width: 70%;
    padding: 40px;
}
.contact-info {
    padding: 25px 15px;
}
.contact-info-header {
    margin-top: 60px;
    font-size: 38px;
    text-align: center;
    font-weight: 900;
}
.contact-info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 24px 0px;
}
.contact-info-row  img {
    width: 20px;
}
.contact-info-row span{
    font-size: 14px;
    margin-left: 15px;
}
.profile-info-header {
    font-size: 38px;
    font-weight: 900;
}
.profile-info-text {
    font-size: 26px;
    padding: 25px 20px;
}
.profile-info-list {
    font-size: 26px;
    list-style: disc;
    list-style-position: inside;
    padding: 25px 20px;
}
.profile-info-list li {
    margin: 5px;
}
.wrapper footer {
    
}